body{
  background-color: bisque;
}

.wrapper{
  max-width: 1000px;

}
.box {
  position     : relative;
  margin       : auto;
  width        : 150px;
  height       : 100px;
  transform    : rotate(85deg);
}
.box::after {
  content      : "";
  top          : 0;
  left         : 0;
  position     : absolute;
  width        : 150px;
  height       : 100px;
  background   : #999999;
  transform    : skewX(-40deg);
}
.box span {      /* 前面の文字エリア */
  position     : absolute;
  display      : inline-block;
  background   : rgba(255, 255, 255, 0.6);
  top          : 50%;
  left         : 50%;
  padding      : 3px;
  color        : #333;
  transform    : translate(-50%,-50%);
  font-size    : 12pt;
  border-radius: 5px;
  z-index      : 10;
}
